
#directorios binding volumes

PgPgadminCompose/postgres/
PgPgadminCompose/pgAdmin/

#.env de pokeapp
mongo-compose/.env

#node modules on dockerfile assigment
docker-files/node_modules/
docker-files/package-lock.json

#VScode
DOCKER.code-workspace